<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cuenta monetaria</title>
	<!-- <link rel="stylesheet" href="../CSS/estilos.css"> --> 
	<link rel="stylesheet" href="{% static 'CSS/estilos.css' %}">
</head>
<body>
	<nav>
		<div class="NAVopciones">
			<p>Cuenta monetaria</p>
			<p>Cuenta de ahorro</p>
			<p>Cuenta a plazo fijo</p>
			<p>Datos de usuario</p>
		</div>
		<div class="menu">aqui va el boton de menu</div>
	</nav>
	<aside>
		<p>Transacciones</p>
		<p>Pagos</p>
		<p>Prestamo</p>
		<p>Estado de cuenta</p>
		<p>Autorizar cheque</p>
		<p>Suspender cuenta</p>
	</aside>
</body>
</html>